# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin "https://github.com/Aman-s12345/blog-website.git"
git push -u origin main
